:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}
.full {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
  /* justify-content: center; */
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.border {
  /* margin: 10px; */
  border: 1px solid gainsboro;
}
.header {
  background-color: darkblue;
  color: white;
  padding-left: 10px;
}
.footer {
  background-color: darkblue;
  color: white;
  padding-left: 10px;
}
.w100 {
  width: 100%;
}
input,
button {
  border: 1px solid gainsboro;
  padding: 0.6em 1em;
  white-space: nowrap;
  color: #0f0f0f;
  transition: border-color 0.25s;
}
/*

input:disabled,
button:disabled {
  pointer-events: none;
  color: #bbb;
  background: #f5f5f5;
  border-color: gainsboro;
}
input:disabled::-webkit-input-placeholder {
  color: #bbb;
} */
input, button {
  outline: none;
  border: 1px solid gainsboro;
}
.card, .btn, .form-control, .dropdown, .dropdown-menu, .dropdown-toggle { 
  border-radius: 0; 
}
.scrollable {
  overflow-y: auto; 
  height: 100vh; 
  scrollbar-gutter: stable;
  margin: 15px;
  margin-top: 0px;
  padding: 10px; 
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}
